.todo {
  margin: 20px;
  transition: box-shadow .2s ease-in;

  &:hover {
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.4);
  }

  &-btn-box {
    display: flex;
    justify-content: flex-end;

    .action-btn {
      margin: 10px 5px;
    }
  }

}
