<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Todosss</h1>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLinkActive]="['active']" (click)="sidenav.toggle()" [routerLink]="['todos']">Active</a>
      <a mat-list-item [routerLinkActive]="['active']" (click)="sidenav.toggle()" [routerLink]="['archive']">Archive</a>
      <a mat-list-item [routerLinkActive]="['active']" (click)="sidenav.toggle()" [routerLink]="['removed']">Removed</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <div class="container">
        <app-add-todo></app-add-todo>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
